@import '../css/bootstrap.min.css';
@import '../css/font-awesome.min.css';
@-webkit-keyframes scaleBackground {
  0% {
    background-size: 100%;
  }
  100% {
    background-size: 120%;
  }
}
@-moz-keyframes scaleBackground {
  0% {
    background-size: 100%;
  }
  100% {
    background-size: 120%;
  }
}
@keyframes scaleBackground {
  0% {
    background-size: 100%;
  }
  100% {
    background-size: 120%;
  }
}
/* Main Primary color */
/* Main Secondary color (1) */
/* Main Secondary color (2) */
/* Main Complement color */
body {
  width: 100%;
  height: 100%;
  font-family: "Oswald", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #0a0908;
  background-color: #546DA6;
}
html {
  width: 100%;
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 35px;
  text-transform: uppercase;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
}
p {
  margin: 0 0 25px;
  font-size: 18px;
  line-height: 1.5;
}
@media (min-width: 768px) {
  p {
    margin: 0 0 35px;
    font-size: 20px;
    line-height: 1.6;
  }
}
a {
  color: #f2f4f3;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
a:hover,
a:focus {
  text-decoration: none;
  color: #bbc5c0;
}
.light {
  font-weight: 400;
}
.navbar-custom {
  margin-bottom: 0;
  text-transform: uppercase;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.navbar-custom .navbar-brand {
  font-weight: 700;
}
.navbar-custom .navbar-brand:focus {
  outline: none;
}
.navbar-custom .navbar-brand .navbar-toggle {
  padding: 4px 6px;
  font-size: 16px;
  color: #0a0908;
}
.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
  outline: none;
}
.navbar-custom a {
  color: #f2f4f3;
}
.navbar-custom .nav li a {
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
.navbar-custom .nav li a:hover {
  color: rgba(242, 244, 243, 0.8);
  outline: none;
  background-color: transparent;
}
.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
  outline: none;
  background-color: transparent;
}
.navbar-custom .nav li.active {
  outline: none;
}
.navbar-custom .nav li.active a {
  background-color: rgba(242, 244, 243, 0.3);
}
.navbar-custom .nav li.active a:hover {
  color: #0a0908;
}
@media (min-width: 768px) {
  .navbar-custom {
    padding: 20px 0;
    border-bottom: none;
    letter-spacing: 1px;
    background: transparent;
    -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
  }
  .navbar-custom.top-nav-collapse {
    padding: 0;
  }
}
.intro {
  display: table;
  width: 100%;
  padding: 100px 0;
  text-align: center;
  color: white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.intro .intro-body {
  display: table-cell;
  vertical-align: middle;
}
.intro .intro-body .brand-heading {
  font-size: 40px;
}
.intro .intro-body .intro-text {
  font-size: 18px;
}
@media (min-width: 768px) {
  .intro {
    height: 100%;
    padding: 0;
  }
  .intro .intro-body .brand-heading {
    font-size: 100px;
  }
  .intro .intro-body .intro-text {
    font-size: 26px;
  }
}
.btn-circle {
  width: 70px;
  height: 70px;
  margin-top: 15px;
  padding: 7px 16px;
  border: 2px solid white;
  border-radius: 100% !important;
  font-size: 40px;
  color: white;
  background: transparent;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
.btn-circle:hover,
.btn-circle:focus {
  outline: none;
  color: white;
  background: rgba(255, 255, 255, 0.1);
}
.btn-circle i.animated {
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 1s;
  -moz-transition-property: -moz-transform;
  -moz-transition-duration: 1s;
}
.btn-circle:hover i.animated {
  -webkit-animation-name: pulse;
  -moz-animation-name: pulse;
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
}
@-webkit-keyframes pulse {
  0 {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes pulse {
  0 {
    -moz-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -moz-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
}
.content-section {
  padding-top: 100px;
}
.live-shows-section {
  width: 100%;
  padding: 50px 0;
  color: white;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
@media (min-width: 767px) {
  .live-shows-section {
    padding: 100px 0;
  }
  #map {
    height: 400px;
    margin-top: 250px;
  }
}
.btn {
  text-transform: uppercase;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-radius: 0;
}
.btn-default {
  border: 1px solid #a9927d;
  color: #a9927d;
  background-color: transparent;
}
.btn-default:hover,
.btn-default:focus {
  border: 1px solid #a9927d;
  outline: none;
  color: black;
  background-color: #a9927d;
}
ul.banner-social-buttons {
  margin-top: 0;
}
@media (max-width: 1199px) {
  ul.banner-social-buttons {
    margin-top: 15px;
  }
}
@media (max-width: 767px) {
  ul.banner-social-buttons li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }
  ul.banner-social-buttons li:last-child {
    margin-bottom: 0;
  }
}
footer {
  padding: 50px 0;
}
footer p {
  margin: 0;
}
::-moz-selection {
  text-shadow: none;
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2);
}
::selection {
  text-shadow: none;
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2);
}
img::selection {
  background: transparent;
}
img::-moz-selection {
  background: transparent;
}
body {
  webkit-tap-highlight-color: rgba(255, 255, 255, 0.2);
}
body {
  font-size: 16px;
}
body .navbar #trophies-home {
  display: none;
}
@media (min-width: 768px) {
  body .navbar .navbar-nav {
    width: 100%;
    text-align: center;
  }
  body .navbar .navbar-nav > li {
    float: none;
    display: inline-block;
    padding: 0 1%;
  }
  body .navbar #trophies-home {
    display: inline-block;
  }
}
@media (min-width: 768px) and (min-width: 800px) {
  body .navbar .navbar-nav > li {
    padding: 0 2%;
  }
}
@media (min-width: 768px) and (min-width: 1220px) {
  body .navbar .navbar-nav > li {
    padding: 0 5%;
  }
}
body section {
  height: 100%;
}
body #trophies-logo {
  max-width: 630px;
  width: 100%;
}
body .intro {
  display: table;
  width: 100%;
  padding: 100px 0;
  text-align: center;
  color: #fff;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
body .twitter-timeline-rendered {
  width: 100%!important;
  min-width: 100%!important;
}
body #band.container-fluid {
  padding-right: 0px;
  padding-left: 0px;
}
body #band .row {
  margin: 0;
}
body #band .row .band-member {
  margin: 0px;
  padding: 0px;
  height: 50%;
  background-position: center center;
  overflow: hidden;
  position: relative;
}
@media (max-width: 768px) {
  body #band .row .band-member {
    min-height: 300px;
    max-height: 400px;
  }
}
body #band .row .band-member h3 {
  position: absolute;
  right: 2%;
  bottom: 2%;
}
body #band .row .band-member.flash {
  background: #F8F870 url(../img/flash.jpg) center center;
}
body #band .row .band-member.danny {
  background: #6D6D32 url(../img/danny.jpg) center center;
}
body #band .row .band-member.lee {
  background: #6D3232 url(../img/lee.jpg) center center;
}
body #band .row .band-member.moyano {
  background: #6D1818 url(../img/moy.png) center center;
}
body #band .row .band-member:hover {
  -webkit-animation: scaleBackground 5s ease-out alternate;
  -moz-animation: scaleBackground 5s ease-out alternate;
  animation: scaleBackground 5s ease-out alternate;
}
@media (min-width: 768px) {
  body #band .row {
    height: 100%;
  }
}
@media (max-width: 768px) {
  body #band {
    height: 1200px;
  }
}
body #music .row {
  text-align: center;
  color: white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-image: url(../img/owl.jpg);
  background-position: center center;
  height: 100%;
  padding-top: 50px;
}
