.intro {
  background: url(../img/troman-main-bg.jpg) no-repeat top center scroll;
  display: table;
  width: 100%;
  padding: 100px 0;
  text-align: center;
  color: #fff;
  background-color: #000;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

nav.navbar {

    .navbar-brand{
      display:none;
    }

    &.top-nav-collapse {
      .navbar-brand {
        display: block;
      }
    }
}

